<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>headerAbout}}

        <div class="body-main">
            <img class="portrait" src="/img/myPic.jpeg" alt="">
            <div class="about-text">
                <h2>Hi, thanks for visiting my site.</h2>
                <p class="p-about">I am <b>Bryan</b>, a software developer. Follow me on:</p>
                <ul class="about-ul">
                    <li class="social">
                        <a href="https://github.com/bryanwaine" target="blank">Github</a>
                    </li>
                    <li class="social">
                        <a href="http://linkedin.com/in/nwanne-ezeaka-mbbs-a45bb475" target="blank">Linkedin</a>
                    </li>
                    <li class="social">
                        <a href="https://www.instagram.com/bryanwaine_md" target="blank">Instagram</a>
                    </li>
                    <li class="social">
                        <a href="https://www.twitter.com/bryanwaine_MD" target="blank">Twitter</a>
                    </li>
                    
                </ul>
            </div>
        </div>
        
    </div>
    

    {{>footer}}
</body>
</html>